MODE=DEV
LOG_LEVEL=INFO

DB_HOST=localhost
DB_PORT=5432
DB_USER=db_user
DB_PASS=db_pass
DB_NAME=booking_db

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=db_user
TEST_DB_PASS=db_pass
TEST_DB_NAME=test_booking_db

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=xxx@gmail.com
SMTP_PASS=XXX

REDIS_HOST=localhost
REDIS_PORT=6379

SECRET_KEY=
ALGORITHM=

SENTRY=